<body>
    <div>
        <div style="display: flex; justify-content: space-between;">
            <h1>Lista de métodos CASAS</h1>
            <a routerLink="/menu" style="margin-left: auto;"> &lt; Volver</a>
        </div>
        <div class="bloques">
            <div class="bloque">
                <h3>GET</h3>
                <li>Mostrar todas las casas</li>
                <li>Buscar casa por direccion</li>
                <li>Buscar consumo de casa</li>
            </div>
            <div class="bloque">
                <h3>POST</h3>
                <li>Añadir una casa</li>
            </div>
            <div class="bloque">
                <h3>DELETE</h3>
                <li>Borrar una casa</li>
            </div>    
            <div class="bloque">
                <h3>PUT</h3>
                <li>Modificar una casa</li>
            </div>
            <div class="bloque">
                <h3>PATCH</h3>
                <li>Editar direccion</li>
            </div>
        </div>
    </div>
</body>