<body>
    <div>
        <div style="display: flex; justify-content: space-between;">
            <h1>Menu CASAS</h1>
            <a routerLink="/menu" style="margin-left: auto;"> &lt; Volver</a>
        </div>
        <div class="bloques">
            <div class="bloque">
                <h3>GET</h3>
                <button>Mostrar todas las casas</button>
                <button>Buscar casa por direccion</button>
                <button>Buscar consumo de casa</button>
            </div>
            <div class="bloque">
                <h3>POST</h3>
                <button>Añadir una casa</button>
            </div>
            <div class="bloque">
                <h3>DELETE</h3>
                <button>Borrar una casa</button>
            </div>    
            <div class="bloque">
                <h3>PUT</h3>
                <button>Modificar una casa</button>
            </div>
            <div class="bloque">
                <h3>PATCH</h3>
                <button>Editar direccion</button>
            </div>
        </div>
    </div>
</body>