<div id="contenedor">
    <div id="central">
        <div id="login">
            <div class="titulo">
                APIKOD
            </div>
            <div class="subtitulo">
                LOGIN
            </div>
            <div class="line"><hr class="line"></div>
            <form id="loginform" (ngSubmit)="iniciarSesion()">
                <input type="text" [(ngModel)]="email" name="email" placeholder="E-mail" required>
                
                <input type="password" [(ngModel)]="password" placeholder="Contraseña" name="password" required>
                
                <button type="submit" title="Ingresar" name="Ingresar">Iniciar sesión</button>
            </form>
            <div class="pie-form">
                <a routerLink="/register">¿No tienes cuenta? Registrate aquí</a>
            </div>
        </div>
    </div>
</div>