<body>
    <div>
        <h1 style="text-align: center;">API Consumo Eléctrico - Menu</h1>
            <div class="bloques">
                <button routerLink="/upload" class = "button-18">Agregar elementos</button>

                <button routerLink="/search" class="button-18" role="button">Buscar elementos</button>
            </div>
            <div class="bloques">
                <button routerLink="/modify" class = "button-18">Modificar elementos</button>

                <button routerLink="/delete" class="button-18" role="button">Borrar elementos</button>
            </div>
            <div class="bloques">
                <button routerLink="/casas" class = "button-18" style="background-color: rgb(197, 148, 13);">Lista métodos casas (info)</button>

                <button routerLink="/objetos" class="button-18" role="button" style="background-color: rgb(197, 148, 13);">Lista métodos objetos (info)</button>
            </div>
    </div>
</body>