body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color:#1081cc;
    height: 100vh;
    margin: 0;
    background-color:#181818;
}

.bloques{
 display: grid;   
 grid-template-columns: 150px 150px;
 grid-gap: 10px;

 justify-content: center;
}

.bloque{
    background-color:#186ed1;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(158, 165, 168);
}

.bloque:hover{
    transition: 0.3s;
    background-color: #345075;
}