<body>
    <div>
        <div style="display: flex; justify-content: space-between;">
            <h1>Menu OBJETOS</h1>
            <a routerLink="/menu" style="margin-left: auto;"> &lt; Volver</a>
        </div>
        <div class="bloques">
            <div class="bloque">
                <h3>GET</h3>
                <button>Mostrar todos los objetos</button>
                <button>Buscar objeto por id</button>
            </div>
            <div class="bloque">
                <h3>POST</h3>
                <button>Añadir un objeto</button>
            </div>
            <div class="bloque">
                <h3>DELETE</h3>
                <button>Borrar un objeto</button>
            </div>    
            <div class="bloque">
                <h3>PUT</h3>
                <button>Modificar un objeto</button>
            </div>
            <div class="bloque">
                <h3>PATCH</h3>
                <button>Editar un objeto</button>
            </div>
        </div>
    </div>
</body>