<body>
    <div>
        <div style="display: flex; justify-content: space-between;">
            <h1>Lista métodos OBJETOS</h1>
            <a routerLink="/menu" style="margin-left: auto;"> &lt; Volver</a>
        </div>
        <div class="bloques">
            <div class="bloque">
                <h3>GET</h3>
                <li>Mostrar todos los objetos</li>
                <li>Buscar objeto por id</li>
            </div>
            <div class="bloque">
                <h3>POST</h3>
                <li>Añadir un objeto</li>
            </div>
            <div class="bloque">
                <h3>DELETE</h3>
                <li>Borrar un objeto</li>
            </div>    
            <div class="bloque">
                <h3>PUT</h3>
                <li>Modificar un objeto</li>
            </div>
            <div class="bloque">
                <h3>PATCH</h3>
                <li>Editar un objeto</li>
            </div>
        </div>
    </div>
</body>