<body>
    <div style="display: flex; justify-content: space-between;">
        <h1 class="titulo">API Consumo Electrico - Eliminar</h1>
        <a routerLink="/menu" style="margin-left: auto;"> &lt; Volver</a>
    </div>
    <div class="bloques">
        <div class="bloque">
            <h3 class="subtitulo">Eliminar una casa</h3>
            <p>Ingresar la direccion de la casa a borrar</p>
            <form id="searchForm" (ngSubmit)="borrarCasa()">
                <input type="text" [(ngModel)]="direccionCasa" name="idObjeto" placeholder="Direccion">
                <button type="submit" title="Ingresar" name="Ingresar">Borrar</button>
            </form>
            <p style="color:burlywood" >{{resBuscarCasa}}</p>
        </div>
        <div class="bloque">
            <h3 class="subtitulo">Eliminar un objeto</h3>
            <p>Ingresar la direccion del objeto a borrar</p>
            <form id="searchForm" (ngSubmit)="borrarObjeto()">
                <input type="number" [(ngModel)]="idBusquedaObjeto" name="idObjeto" placeholder="ID">
                <button type="submit" title="Ingresar" name="Ingresar">Borrar</button>
            </form>
            <p style="color:burlywood" >{{resBuscarUnObjeto}}</p>
        </div>


    </div>
</body>
