<body>
    <div style="display: flex; justify-content: space-between;">
        <h1 class="titulo">API Consumo Electrico - Eliminar</h1>
        <a routerLink="/menu" style="margin-left: auto;"> &lt; Volver</a>
    </div>
    <div class="bloques">
        <div class="bloque">
            <h3 class="subtitulo">Eliminar una casa</h3>
            <p>Ingresar la direccion de la casa a borrar</p>
            <input type="text" name="direccionCasa" placeholder="Direccion">
            <button>Borrar</button>
        </div>
        <div class="bloque">
            <h3 class="subtitulo">Eliminar un objeto</h3>
            <p>Ingresar id del objeto a borrar</p>
            <input type="text" name="idObjeto" placeholder="ID">
            <button>Borrar</button>
        </div>
    </div>
</body>
