<body>
    <div style="display: flex; justify-content: space-between;">
        <h1 class="titulo">API Consumo Electrico - Subida</h1>
        <a routerLink="/menu" style="margin-left: auto;"> &lt; Volver</a>
    </div>
    <div class="bloques">
        <div class="bloque">
            <h3 class="subtitulo">Agregar una casa</h3>
            <p></p>
            <input type="number" name="direccionCasa" placeholder="Direccion">
            <input type="number" name="consumoDiario" placeholder="Consumo diario">
            <textarea rows="4" cols="31"></textarea>
            <br>
            <button>Subir</button>
            <p style="color:burlywood" >{{resAgregarCasa}}</p>
        </div>
        <div class="bloque">
            <h3 class="subtitulo">Agregar un objeto</h3>
            <form (ngSubmit)="agregarObjeto()">
            <input type="number" [(ngModel)]="id" name="id" placeholder="Id">
            <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombre">
            <input type="number" [(ngModel)]="consumo" name="consumo" placeholder="Consumo">
            <br>
            <button type="submit">Subir</button>
            </form>
            <p style="color:burlywood" >{{resAgregarObjeto}}</p>
        </div>



    </div>
</body>