<body>
    <div style="display: flex; justify-content: space-between;">
        <h1 class="titulo">API Consumo Electrico - Subida</h1>
        <a routerLink="/menu" style="margin-left: auto;"> &lt; Volver</a>
    </div>
    <div class="bloques">
        <div class="bloque">
            <h3 class="subtitulo">Agregar una casa</h3>
            <p></p>
            <input type="number" name="direccionCasa" placeholder="Direccion">
            <input type="number" name="consumoDiario" placeholder="Consumo diario">
            <br>
            <button>Subir</button>
        </div>
        <div class="bloque">
            <h3 class="subtitulo">Agregar un objeto</h3>
            <input type="text" name="nombreObjeto" placeholder="Nombre">
            <input type="number" name="consumoObjeto" placeholder="Consumo">
            <br>
            <button>Subir</button>
        </div>
    </div>
</body>