body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #ffffff;
    
    margin: 0;
    background-color: #181818;
}


#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    font-size: 250%;
    color:#1081cc;
    margin-bottom: 20px;
}

.subtitulo {
    font-size: 150%;
    color:#1081cc;
    margin-bottom: 20px;
}

.bloques{
    display: grid;   
    grid-template-columns: 250px 250px;
    grid-gap: 250px;
}