<body>
    <div style="display: flex; justify-content: space-between;">
        <h1 class="titulo">API Consumo Electrico - Modificar</h1>
        <a routerLink="/menu" style="margin-left: auto;"> &lt; Volver</a>
    </div>
    <div class="bloques">
        <div class="bloque">
            <h3 class="subtitulo">Modificar una casa</h3>
            <p>Ingresar los datos a modificar</p>
            <input type="text" name="direccionCasa" placeholder="Direccion">
            <button>Subir</button>
        </div>
        <div class="bloque">
            <h3 class="subtitulo">Modificar un objeto</h3>
            <p>Ingresar los datos a modificar</p>
            <input type="text" name="idObjeto" placeholder="ID">
            <button>Subir</button>
        </div>
    </div>
</body>