<body>
    <div style="display: flex; justify-content: space-between;">
        <h1 class="titulo">API Consumo Electrico - Búsqueda</h1>
        <a routerLink="/menu" style="margin-left: auto;"> &lt; Volver</a>
    </div>
    <div class="bloques">
        <div class="bloque">
            <h3>Ver todas las casas</h3>
            <form id="searchForm" (ngSubmit)="buscarCasas()">
                <button type="submit" title="Ingresar" name="Ingresar">Buscar</button>
            </form>
            <div style="height:120px;width:420px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
            <p>{{resBuscarCasas}}</p>
            </div>
            <h3>Buscar casa por direccion</h3>
            <input type="number" name="direccionCasa" placeholder="Direccion">
            <button>Buscar</button>
            <div style="height:120px;width:420px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
            
            </div>

            <h3>Buscar consumo de casa</h3>
            <button>Buscar</button>
            <div style="height:120px;width:420px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
            
            </div>
        </div>
        <div class="bloque">
            <h3>Ver todos los objetos</h3>
            <button>Buscar</button>
            <div style="height:120px;width:420px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
            
            </div>

            <h3>Buscar objeto por id</h3>
            <input type="number" name="idObjeto" placeholder="ID">
            <button>Buscar</button>
            <div style="height:120px;width:420px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
            
            </div>
        </div>
    </div>
</body>
